<div class="login-page">
	
	<mat-card class="login-card">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit() " class="example-form">
		<mat-error *ngIf="showError" class="login-card__error">Не верный логин</mat-error>
		
		<mat-card-content class="login-card__content" >
			
				<mat-form-field class="login-card__control">
					<mat-label>укажите login для проверки</mat-label>
					<input matInput formControlName='login' >
					<mat-hint *ngIf="delayError">необходимо подождать некоторое время, 00:{{timer}}</mat-hint>
				</mat-form-field>
			
		</mat-card-content>
		
		<mat-card-title-group class="login-card__title">
			<mat-card-title>{{login}}</mat-card-title>
		</mat-card-title-group>
		
		<mat-card-footer>
			
			<div class="login-card__button-wrap">
				<button mat-stroked-button type="submit" color="primary" [disabled]=" loading || delayError " >Отправить</button>
			</div>
			
			<mat-progress-bar *ngIf="loading" class="login-card__progress-bar" mode="buffer"></mat-progress-bar>
			
		</mat-card-footer>
		</form>
	</mat-card>
	
</div>
